<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= task.done %>
  </p>

  <%= button_to "Destroy this task", task, method: :delete %>

</div>
